<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
#Creamos 3 variables de tipo string usando tanto las comillas simples ('') como las dobles ("").
String1 = "Bienvenido a la clase de"
String2 = 'Algoritmos'
String3 = "2022-1"
print(String1 + " " + String2 + ' ' + String3) #Se concatenan e imprimen las 3 variables de tipo String, y con las comillas se generan espacios entre las 3

Bienvenido a la clase de Algoritmos 2022-1

An integer is a round number with no values after the decimal point.

In [ ]:
num = 16          #Creamos la variable de tipo entero
print(num)        #Print imprime la variable en consola
print(type(num))  #Con type se el tipo de variable(int, string, etc)

16
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
mi_string = "2001"
print(type(mi_string))
num = int(mi_string) #Con int se puede convertir una variable de un string a un entero
print(type(num))

<class 'str'>
2001
2001
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
string1 = "8"
numf = 8.0                 #Agregar un valor decimal define la variable como float 
num_float = float(string1) #Con float se puede convertir una variable diferente de float a un float
print(type(num_float))  
print(type(numf))

<class 'float'>
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
mi_Booleano = True     #Variable de tipo booleano, puede ser False o True
print(mi_Booleano)
print(type(mi_Booleano))

True
<class 'bool'>

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
#Las operaciones basicas que ofrece python
print("Suma", 4+5)
print("Resta", 7-10)
print("Multiplicacion", 4*5)
div_a = 15/3 
print("Division", div_a) #La division da siempre como resultado un float
print(type(div_a))
print("Potencia", 2**4)

Suma 9
Resta -3
Multiplicacion 20
Division 5.0
<class 'float'>
Potencia 16

In [ ]:
#Al dividir no importa si es de tipo int o float el resultado es el mismo
print(5/3)
print(5.0/3)
print(5/3.0)
print(5.0/3.0)

1.6666666666666667
1.6666666666666667
1.6666666666666667
1.6666666666666667

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
lista = ["Algoritmos", "prueba", 8, 16, 20.1] #Creamos una lista con diferentes tipos de variables
print(lista)

['Algoritmos', 'prueba', 8, 16, 20.1]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
lista = ["Algoritmos", "prueba", 8, 16, 20.1]
print(len(lista))                               #len muestra el largo de la lista
print(lista[3])                                 #se obtiene el elemento en la posicion 3, considerando que la primera posicion es 0
print(lista[len(lista)-1])                      #Como inicia en 0, el ultimo elemento en la lista esta en n-1, siendo n el largo de la lista

5
16
20.1

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
lista = ["Algoritmos", "prueba", 8, 16, 20.1]
lista[3] = 'nuevo'                               #Cambiamos el elemento en la posicion 3
print(lista)

['Algoritmos', 'prueba', 8, 'nuevo', 20.1]

A list can also be sliced with a colon:

In [ ]:
lista = ["Algoritmos", "prueba", 8, 16, 20.1]
print(lista[2:4])                              #Se puede recorrer la lista con [x/y], donde toma los elementos desde la posicion x hasta el elemento en la posicion y-1

[8, 16]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 2, which refers to the third element:

In [ ]:
lista = ["Algoritmos", "prueba", 8, 16, 20.1]
print(lista[2:])                               #Como dejamos vacio despues de ":", recorre la lista desde la posicion 2 hasta el final

[8, 16, 20.1]

In [ ]:
lista = ["Algoritmos", "prueba", 8, 16, 20.1]
print(lista[:4])                              #Como dejamos vacio antes de ":", recorre la lista desde el inicio hasta la posicion 4-1

['Algoritmos', 'prueba', 8, 16]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
lista = ["Algoritmos", "prueba", 8, 16, 20.1]
lista.append(16)                                #Agregamos 16 al final de la lista  
lista.remove(16)                                #Eliminamos el primer 16 que aparezca en la lista
print(lista)

['Algoritmos', 'prueba', 8, 20.1, 16]

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
tupla = ("Bienvenido", "a", "Unal")   #Creamos una tupla usando parentisis

Just like a list, a tuple can be sliced by using index.

In [ ]:
tupla = ("Bienvenido", "a", "Unal")
print(tupla[1:])                     #Se recorre igual que una lista

('a', 'Unal')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
lista_m = ["Facebook", "youtube", "Twitter", "youtube", "Spotify", "Facebook", "youtube"]
lista_set = set(lista_m)                                                                    #Con set creamos una coleccion con los elementos sin repetir de lista_m
print(lista_set)

{'Facebook', 'Twitter', 'youtube', 'Spotify'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
Diccionario = {"A":"Google", "B":"Youtube", "C":"Facebook", "D": "Google"}   #Creamos un diccionario sin llaves repetidas
print(Diccionario["D"])                                                      #Imprimimos el valor del diccionario con la llave D

Google

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
Diccionario = {"A":"Google", "B":"Youtube", "C":"Facebook", "D": "Google"} 
Diccionario["A"] = "Spotify"                                                  #Con la llave podemos acceder al valor del diccionario y cambiarlo
print(Diccionario["A"])

Spotify

In [ ]:
print(Diccionario.keys()) #Con .keys obtenemos la lista de todas las llaves del diccionario

dict_keys(['A', 'B', 'C', 'D'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
string = "Bienvenidos a la presencialidad"
print(string[16:])                          #Se puede recorrer un string como una tupla o lista

 presencialidad

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print("Probando cuantas o tiene esta oracion".count("o"))  #.count para saber cuantas veces se repite un caracter
print("Donde esta la z".find("z"))                         #.find para encontrar la primera posicion en la que sale un caracter
print("cres crisces cigres".replace("c","t"))              #.replace para reemplazar un caracter en todo el string por otro

5
14
tres tristes tigres

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Tiempo = "13-03-2022_01:41:00"
splited_tiempo = Tiempo.split("_") #Dividimos el dia y la hora por el simbolo "_"
dia = splited_tiempo[0]            #Creamos una variable con el elemento de la posicion 0 
tiempo = splited_tiempo[1]         #Creamos una variable con el elemento de la posicion 1
print(dia)
minuto = tiempo.split(":")[1]      #Podemos dividir el tiempo en horas, minutos, segundos, por el simbolo ":" 
print(minuto)

13-03-2022
41

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
Hora_A = "Hora:{}, Minuto:{}".format("1","59")  #Con format podemos insertar el texto en las posiciones señaladas por los corchetes
print(Hora_A)

Hora:1, Minuto:59

Another way to format a string is to use the % symbol.

In [ ]:
#Tambien se puede usar % en reemplazo de format, especificando el tipo de variable despues de %
print("mi edad es %i años" % 20)
print("Este es un numero float: %f" %4.5)
print("%s mucha %s"%("Tengo", "hambre"))

mi edad es 20 años
Este es un numero float: 4.500000
Tengo mucha hambre

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
#Operaciones de comparacion con resultado True o False
print(2 == 3)
print(2 == 2)
print(2 != 6)
print(2 >= 3)
print(5 >= 3)

False
True
True
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
#Combinamos operaciones de comparacion con operaciones logicas: and, or y not
print(0 > 1 and 3 > 2)
print(10 > 8 and 1 < 6) 
print(-1 > 1 or -4 < 2)
print(2 < -5 or 3 < -8)
print(not 3 < 2)

False
True
True
False
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
#Una combinacion de operaciones logicas y comparacion mas compleja usando parentesis.
print((4 > 2 and 5 > 1) or (4 != 5 and 3==2 ) and not(-5 > 0 or 3 > 10) or not(4 < 3 and 5 > 2) )

True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
edad = 20
if edad >= 18: #Si tiene 18 o mas años el if indica que es mayor de edad
  print("Ya es mayor de edad")

Ya es mayor de edad

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
#Los if determinan si es mayor o menor de edad y el color que le gusta entre Azul y Rojo
p = 20
q = "Azul"
if p >= 18  and q == "Azul":
  print("Mayor de Edad, le gusta el azul")
elif p <= 18 and q == "Azul":
  print("Menor de Edad, le gusta el azul")
elif p <= 18 and q == "Rojo":
  print("Menor de Edad, le gusta el Rojo")
else:
  print("Mayor de Edad, le gusta el Rojo")

Mayor de Edad, le gusta el azul

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
#Cuenta atras desde 10
i = 10
while i > 0:
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
#Recorremos la lista con un for
lista = ["Facebook", "Youtube", "Twitter", "Spotify"]
for i in lista:
  print(i)

Facebook
Youtube
Twitter
Spotify

We can also add if statements in a for loop.

In [ ]:
#Creamos una lista de las aplicaciones que no pertenecen a Meta
Redes = ["Facebook", "Youtube", "Twitter", "Spotify", "Instagram","WhatsApp"]
Meta =  ["Facebook", "Instagram", "WhatsApp"]
No_Meta = []
for i in Redes:
  if i not in Meta:
    No_Meta.append(i)
print(No_Meta)

['Youtube', 'Twitter', 'Spotify']

Here we iterated all the elements in the list 'Redes'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
#Recorre la lista hasta encontrar la primera aplicacion de Meta
Redes = ["Youtube", "Twitter", "Spotify", "Instagram","WhatsApp", "Facebook"]
Meta =  ["Facebook", "Instagram", "WhatsApp"]
for i in Redes:
  print(i)
  if i in Meta:
    break

Youtube
Twitter
Spotify
Instagram

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
#Imprime las aplicaciones que no pertenecen a Meta en la lista de Redes
Redes = ["Youtube", "Instagram", "Twitter","WhatsApp", "Spotify", "Facebook"]
Meta =  ["Facebook", "Instagram", "WhatsApp"]
for i in Redes:
  if i in Meta:
    continue
  print(i)

Youtube
Twitter
Spotify

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
#Los cubos de la lista de numeros
cubo = []
for i in [1,2,3,4,5]:
    cubo.append(i**3)
print(cubo)

[1, 8, 27, 64, 125]

Using list comprehension:

In [ ]:
#Cubos usando list comprehension
list = [1,2,3,4,5]
cubo = [x**3 for x in list]
print(cubo)

[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select "Redes". Here we use list comprehension:

In [ ]:
#Creamos una lista de las aplicaciones que no pertenecen a Meta de una manera mas simple que en los ejemplos anteriorres
Redes = ["Facebook", "Youtube", "Twitter", "Spotify", "Instagram","WhatsApp"]
Meta =  ["Facebook", "Instagram", "WhatsApp"]
No_Meta = [x for x in Redes if x not in Meta]
print(No_Meta)

['Youtube', 'Twitter', 'Spotify']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
#Creamos un VS de aplicaciones
print([str(x)+ " vs " + str(y) for x in [ "Youtube", "Twitter", "Spotify"] for y in ["Facebook", "Instagram", "WhatsApp"] if x!=y])

['Youtube vs Facebook', 'Youtube vs Instagram', 'Youtube vs WhatsApp', 'Twitter vs Facebook', 'Twitter vs Instagram', 'Twitter vs WhatsApp', 'Spotify vs Facebook', 'Spotify vs Instagram', 'Spotify vs WhatsApp']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
#Funcion de division
def division(x,y):
    return x/y
print(division(5,3))
print(division(35,5))

1.6666666666666667
7.0

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
#Funcion sin parametros
def despedida():
  print("Adios, tenga un buen dia")
despedida()

Adios, tenga un buen dia

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
#Prueba con la funcion range(start, stop, step)
print(range(5))
x = range(0,100,10)
for i in x:
  print(i)

range(0, 5)
0
10
20
30
40
50
60
70
80
90

TypeError: ignored

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
#Usando len en un for loop.
Redes = ["Facebook", "Youtube", "Twitter", "Spotify", "Instagram","WhatsApp"]
print("El numero de redes en la lista es de %i, estas son:"%len(Redes))
for i in range(len(Redes)):
  print(Redes[i])

El numero de redes en la lista es de 6, estas son:
Facebook
Youtube
Twitter
Spotify
Instagram
WhatsApp

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:
Redes = ["Facebook", "Youtube", "Twitter", "Spotify", "Instagram","WhatsApp"] #Creamos la lista de nombre Redes
print(Redes)
del Redes #Eliminamos la lista Redes para crear otra lista con el mismo nombre
Redes = ["Gmail", "Telegram", "Twitter"] #Creamos una nueva lista con el nombre de Redes
print(Redes)
del Redes

['Facebook', 'Youtube', 'Twitter', 'Spotify', 'Instagram', 'WhatsApp']
['Gmail', 'Telegram', 'Twitter']

In [ ]:
Frutas = ["Manzana", "Pera", "Fresa", "Mora", "Uva"] #Creamos una lista con nombres de frutas
y = list(map(len, Frutas))                           #Creamos una lista del largo de los nombres de las frutas apoyandonos en la funcion map
print(y)
def cuadrado(x):                                     #Creamos unas funcion de cuadrados para probar el funcionamiento de map
  return x**2
list(map(cuadrado, y))                               #Creamos e imprimimos una lista de los cuadrados del largo de los nombres de las frutas

[7, 4, 5, 4, 3]

[49, 16, 25, 16, 9]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
#Listas para probar el funcionamiento de lambda creando una funcion que solo se usa en la lista.
y = list(map(lambda x: x*10, range(0,101,10)))
print(y)
list(map(lambda x: x/2, range(11))) #Lista de numeros contando de 0.5 en 0.5 hasta el 5

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [ ]:
#Potencias de 2
list(map(lambda x,y: x**y,[2,2,2,2,2],[2,3,4,5,6]))

[4, 8, 16, 32, 64]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
#Creamos una lista de potencias de 2 en desorden y la ordenamos con sorted()
y = list(map(lambda x,y: x**y,[2,2,2,2,2],[6,3,5,4,2]))
print("Algunas potencias de 2 en desorden:")
print(y)
print("Algunas potencias de 2 en orden:")
sorted(y)

Algunas potencias de 2 en desorden:
[64, 8, 32, 16, 4]
Algunas potencias de 2 en orden:

[4, 8, 16, 32, 64]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
precio_Frutas = [("Manzana",2000), ("Pera",1800), ("Fresa",600) , ("Mora",750), ("Uva",500)] #Creamos una lista de frutas con un precio
y = sorted(precio_Frutas, key = lambda x: x[1])                                              #Creamos una lista donde ordenamos la lista de frutas de menor a mayor precio
print(y)                                                                                     #Imprimimos la lista de frutas y su precio ordenada de menor a mayor
for x in y:                                                                                  #Imprimimos solo las frutas en orden de menor a mayor precio
  print(x[0])

[('Uva', 500), ('Fresa', 600), ('Mora', 750), ('Pera', 1800), ('Manzana', 2000)]
Uva
Fresa
Mora
Pera
Manzana

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
precio_Frutas = [("Manzana",2000), ("Pera",1800), ("Fresa",600) , ("Mora",750), ("Uva",500)] #Creamos una lista de frutas con un precio
sorted(precio_Frutas, key = lambda x: x[1], reverse = True)                                  #Ordenamos la lista de frutas de mayor a menor precio e imprimimos en consola

[('Manzana', 2000),
 ('Pera', 1800),
 ('Mora', 750),
 ('Fresa', 600),
 ('Uva', 500)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
precio_Frutas = [("Manzana",2000), ("Pera",1800), ("Fresa",600) , ("Mora",750), ("Uva",500)] #Creamos una lista de frutas con un precio
precio_Frutas.sort(key = lambda x: x[1])                                                     #Ordenamos la lista creada
print(precio_Frutas)

[('Uva', 500), ('Fresa', 600), ('Mora', 750), ('Pera', 1800), ('Manzana', 2000)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [10]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [52]:
#Una clase carro, donde definimos la marca del carro, el precio, y el color, aparte de calcular el impuesto
class carro:
  def __init__(self, marca, precio, color):
    self.marca = marca
    self.precio = precio
    self.color = color
    self.impuesto = precio*0.25
#Creamos un metodo update, en caso de querer actualizar el precio o color de un carro creado
  def update(self, precio, color):
    self.precio = precio
    self.color = color
    self.impuesto = float(self.precio)*0.25

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [29]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [53]:
#Creamos dos objetos de la clase carro con sus respectivos atributos
car1 = carro("audi", 134000000, "gris")
car2 = carro("bmw", 144900000, "negro")

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [18]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [54]:
#Verificamos la marca del carro 1   
print(car1.marca)
#Vemos el impuesto del carro 2
print(car2.impuesto)
#Actualizamos los datos del carro 2
car2.update(150000000, "rojo")
#Verificamos el nuevo del valor del impuesto
print(car2.impuesto)

audi
36225000.0
37500000.0

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [55]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [60]:
#Se puede modificar valores del carro directamento
car1.color = "azul"
car1.color

'azul'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [61]:
#aplicamos dir a car1
dir(car1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'color',
 'impuesto',
 'marca',
 'precio',
 'update']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [63]:
#Creamos una clase que hereda de carro
class carro_h(carro):
  def __init__(self, marca):
    self.marca = marca

#Podemos añadir los atributos propios de la clase padre y usar las funciones de la clase padre
car3 = carro_h("audi")
print(car3.marca)
car3.update(128000000, "dorado")
print(car3.color)
print(car3.impuesto)

audi
dorado
32000000.0

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [64]:
import numpy as np  #importar la libreria numpy

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [77]:
#Lista de notas de una materia x
notas_list = [4.5,3.8,4.2,4.1,2.5,3.6]
#Lo convertimos en un array con ayuda de la libreria numpy
notas_array = np.array(notas_list)
#Imprimimos el array en consola, y verificamos que efectivamente es un array de la libreria numpy
print(notas_array, type(notas_array))

[4.5 3.8 4.2 4.1 2.5 3.6] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [70]:
#Creamos una lista de listas, por ejemplo una matriz 3x3
Mat3 = np.array([["a11", "b12", "c13"],["a21", "b22", "c23"], ["a31","b32","c33"]])
print(Mat3)

[['a11' 'b12' 'c13']
 ['a21' 'b22' 'c23']
 ['a31' 'b32' 'c33']]

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [71]:
#Con .shape podemos verificar las dimensiones del array
print(Mat3.shape)

(3, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [72]:
#Podemos acceder a las filas de un array formado por listas por su indice
print(Mat3[0])
print(Mat3[1])
print(Mat3[2])

['a11' 'b12' 'c13']
['a21' 'b22' 'c23']
['a31' 'b32' 'c33']

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [73]:
#Tambien podemos acceder a las columnas de un array
print(Mat3[:,0])
print(Mat3[:,1])
print(Mat3[:,2])

['a11' 'a21' 'a31']
['b12' 'b22' 'b32']
['c13' 'c23' 'c33']

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [74]:
#podemos aplicar lotgaritmo a todos los elementos de un array
print(np.log(notas_array))

[1.5040774  1.33500107 1.43508453 1.41098697 0.91629073 1.28093385]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [78]:
#notas_list = [4.5, 3.8, 4.2, 4.1, 2.5, 3.6]
#Otras funciones de numpy que se pueden aplicar a un array
print(np.mean(notas_array))  #Media de la lista
print(np.std(notas_array))   #Desviacion estandar
print(np.sum(notas_array))   #Suma de los datos
print(np.max(notas_array))   #El numero mas grande de la lista

3.7833333333333337
0.6413960468297951
22.700000000000003
4.5

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [79]:
import pandas as pd       #Importar la libreria de pandas

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [146]:
#Una lista de notas
notas = [4.5, 3.8, 4.2, 4.1, 2.5, 3.6]
#Creamos una serie con ayuda de la libreria de panda
s_notas = pd.Series(notas)
s_notas

0    4.5
1    3.8
2    4.2
3    4.1
4    2.5
5    3.6
dtype: float64

We can customize the indices of a new Series:

In [135]:
#Podemos asignar un indice a los elementos de la serie mientras la creamos
s_notas = pd.Series(notas, index =["Quiz", "Par1", "Par2", "Par3", "Proy","Extra"])
s_notas

Quiz     4.5
Par1     3.8
Par2     4.2
Par3     4.1
Proy     2.5
Extra    3.6
dtype: float64

Or we can change the indices of an existing Series:

In [120]:
#Modificar los indices de una lista ya creada
s_notas.index=["Par1", "Par2","Par3", "Proy", "Quices", "Extra"] 
s_notas

Par1      4.5
Par2      3.8
Par3      4.2
Proy      4.1
Quices    2.5
Extra     3.6
dtype: float64

Series is like a list since it can be sliced by index:

In [121]:
#Se puede recorrer una serie como si fuera una lista por el indice de posicion
print(s_notas[3:])
print(s_notas[:-4])

Proy      4.1
Quices    2.5
Extra     3.6
dtype: float64
Par1    4.5
Par2    3.8
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [122]:
#Como un diccionario podemos modificar valores por el indice de posicion
print(s_notas[4])
s_notas[4]= 3.2
print(s_notas)

2.5
Par1      4.5
Par2      3.8
Par3      4.2
Proy      4.1
Quices    3.2
Extra     3.6
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [123]:
#Podemos asignar un nombre a una serie
s_notas = pd.Series(notas, name = "Notas Calculo")
print(s_notas)
print(s_notas.name)

0    4.5
1    3.8
2    4.2
3    4.1
4    2.5
5    3.6
Name: Notas Calculo, dtype: float64
Notas Calculo

We can get the statistical summaries of a Series:

In [124]:
#Podemos obtener las estadisticas de una serie(cantidad, media, desviacion, numero menor, quantil 25%, quantil 50%, quantil 75%, numero mayor)
print(s_notas.describe())

count    6.000000
mean     3.783333
std      0.702614
min      2.500000
25%      3.650000
50%      3.950000
75%      4.175000
max      4.500000
Name: Notas Calculo, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [147]:
#Podemos asignar indices de tiempo a una serie, por ejemplo crear una serie de fechas del largo de s_notas cada fecha con una diferencia de dos semanas
fecha = pd.date_range('2018-08-23',periods=len(s_notas), freq = "2W")
print(fecha)
#Asignamos las fechas como indices de las notas
s_notas.index = fecha
print(s_notas)

DatetimeIndex(['2018-08-26', '2018-09-09', '2018-09-23', '2018-10-07',
               '2018-10-21', '2018-11-04'],
              dtype='datetime64[ns]', freq='2W-SUN')
2018-08-26    4.5
2018-09-09    3.8
2018-09-23    4.2
2018-10-07    4.1
2018-10-21    2.5
2018-11-04    3.6
Freq: 2W-SUN, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [112]:
#En este caso accedemos al elemento de la lista con el indice 2
s_notas.index = [6,5,4,3,2,1]
print(s_notas)
print(s_notas[2])

6    4.5
5    3.8
4    4.2
3    4.1
2    2.5
1    3.6
Name: Notas Calculo, dtype: float64
2.5

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [113]:
#En este caso accedemos al elemento de la serie en la tercera posicion
print(s_notas.iloc[2])

4.2

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [148]:
#Cuando trabajamos con indices de tiempo, podemos acceder a un elemento por su fecha
s_notas.index = fecha
print(s_notas['2018-09-23'])

4.2

We can even access to a range of dates:

In [149]:
#Podemos acceder a un rango de fechas
print(s_notas["2018-08-23" : "2018-09-23"])

2018-08-26    4.5
2018-09-09    3.8
2018-09-23    4.2
Freq: 2W-SUN, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [156]:
#Podemos buscar en la lista bajo diferentes condiciones
print(s_notas[s_notas > np.mean(s_notas)])
print([s_notas < np.mean(s_notas)])

2018-08-26    4.5
2018-09-09    3.8
2018-09-23    4.2
2018-10-07    4.1
Freq: 2W-SUN, dtype: float64
[2018-08-26    False
2018-09-09    False
2018-09-23    False
2018-10-07    False
2018-10-21     True
2018-11-04     True
Freq: 2W-SUN, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [1]:
!pip install yfinance   #obtenemos los datos

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)

In [21]:
#Cambiando el ejemplo del tutorial, obtenemos los datos de FB
import yfinance as yf

fb = yf.Ticker("FB")

# get stock info
print(fb.info)

# get historical market data
fb_table = fb.history(start="2017-01-01",  end="2018-12-31")
fb_table

{'zip': '94025', 'sector': 'Communication Services', 'fullTimeEmployees': 71970, 'longBusinessSummary': "Meta Platforms, Inc. develops products that enable people to connect and share with friends and family through mobile devices, personal computers, virtual reality headsets, wearables, and in-home devices worldwide. It operates in two segments, Family of Apps and Reality Labs. The Family of Apps segment's products include Facebook, which enables people to share, discover, and connect with interests; Instagram, a community for sharing photos, videos, and private messages, as well as feed, stories, reels, video, live, and shops; Messenger, a messaging application for people to connect with friends, family, groups, and businesses across platforms and devices through chat, audio and video calls, and rooms; and WhatsApp, a messaging application that is used by people and businesses to communicate and transact privately. The Reality Labs segment provides augmented and virtual reality related products comprising virtual reality hardware, software, and content that help people feel connected, anytime, and anywhere. The company was formerly known as Facebook, Inc. and changed its name to Meta Platforms, Inc. in October 2021. Meta Platforms, Inc. was incorporated in 2004 and is headquartered in Menlo Park, California.", 'city': 'Menlo Park', 'phone': '650 543 4800', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://investor.fb.com', 'maxAge': 1, 'address1': '1601 Willow Road', 'industry': 'Internet Content & Information', 'ebitdaMargins': 0.46401, 'profitMargins': 0.33383998, 'grossMargins': 0.80794, 'operatingCashflow': 57683001344, 'revenueGrowth': 0.199, 'operatingMargins': 0.39645, 'ebitda': 54720000000, 'targetLowPrice': 220, 'recommendationKey': 'buy', 'grossProfits': 95280000000, 'freeCashflow': 28807624704, 'targetMedianPrice': 338, 'currentPrice': 192.03, 'earningsGrowth': -0.052, 'currentRatio': 3.154, 'returnOnAssets': 0.17965001, 'numberOfAnalystOpinions': 54, 'targetMeanPrice': 324.22, 'debtToEquity': 11.574, 'returnOnEquity': 0.31102, 'targetHighPrice': 466, 'totalCash': 47998001152, 'totalDebt': 14453999616, 'totalRevenue': 117929000960, 'totalCashPerShare': 17.634, 'financialCurrency': 'USD', 'revenuePerShare': 41.893, 'quickRatio': 2.935, 'recommendationMean': 2.1, 'exchange': 'NMS', 'shortName': 'Meta Platforms, Inc.', 'longName': 'Meta Platforms, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'FB', 'messageBoardId': 'finmb_20765463', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 4.023, 'beta3Year': None, 'enterpriseToEbitda': 8.671, '52WeekChange': -0.33174592, 'morningStarRiskRating': None, 'forwardEps': 14.47, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 2309080064, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 44.299, 'sharesShort': 31207683, 'sharesPercentSharesOut': 0.0115, 'fundFamily': None, 'lastFiscalYearEnd': 1640908800, 'heldPercentInstitutions': 0.7918, 'netIncomeToCommon': 39369998336, 'trailingEps': 13.77, 'lastDividendValue': None, 'SandP52WeekChange': 0.053094983, 'priceToBook': 4.334861, 'heldPercentInsiders': 0.0053100004, 'nextFiscalYearEnd': 1703980800, 'yield': None, 'mostRecentQuarter': 1640908800, 'shortRatio': 0.56, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 2290868012, 'beta': 1.387303, 'enterpriseValue': 474452033536, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': None, 'lastSplitFactor': None, 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.083, 'priceToSalesTrailing12Months': 4.455564, 'dateShortInterest': 1646006400, 'pegRatio': 0.82, 'ytdReturn': None, 'forwardPE': 13.270905, 'lastCapGain': None, 'shortPercentOfFloat': 0.0136, 'sharesShortPriorMonth': 24543197, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 186.63, 'regularMarketOpen': 190.8, 'twoHundredDayAverage': 323.586, 'trailingAnnualDividendYield': 0, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 192.28, 'navPrice': None, 'averageDailyVolume10Day': 31439540, 'regularMarketPreviousClose': 186.63, 'fiftyDayAverage': 260.5028, 'trailingAnnualDividendRate': 0, 'open': 190.8, 'toCurrency': None, 'averageVolume10days': 31439540, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 185.911, 'currency': 'USD', 'trailingPE': 13.945533, 'regularMarketVolume': 31721682, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 525440188416, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 34428903, 'dayLow': 185.911, 'ask': 192.25, 'askSize': 1000, 'volume': 31721682, 'fiftyTwoWeekHigh': 384.33, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 185.82, 'bid': 192.17, 'tradeable': False, 'dividendYield': None, 'bidSize': 1000, 'dayHigh': 192.28, 'regularMarketPrice': 192.03, 'preMarketPrice': 190.79, 'logo_url': 'https://logo.clearbit.com/investor.fb.com', 'trailingPegRatio': 1.1424}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-01-03,116.029999,117.839996,115.510002,116.860001,20663900,0,0
2017-01-04,117.550003,119.660004,117.290001,118.690002,19630900,0,0
2017-01-05,118.860001,120.949997,118.320000,120.669998,19492200,0,0
2017-01-06,120.980003,123.879997,120.029999,123.410004,28545300,0,0
2017-01-09,123.550003,125.430000,123.040001,124.900002,22880400,0,0
...,...,...,...,...,...,...,...
2018-12-21,133.389999,134.899994,123.419998,124.949997,56901500,0,0
2018-12-24,123.099998,129.740005,123.019997,124.059998,22066000,0,0
2018-12-26,126.000000,134.240005,125.889999,134.179993,39723400,0,0
2018-12-27,132.440002,134.990005,129.669998,134.520004,31202500,0,0
2018-12-28,135.339996,135.919998,132.199997,133.199997,22627600,0,0

We will create a Series named "fb" whose values are FB's daily closing prices, which are of course indexed by dates:

> Bloc con sangría

In [25]:
fb = fb_table['Close']['2018'] #Creamos una serie de los precios de cierre de 2018

In [9]:
print(fb)

Date
2018-01-02    181.419998
2018-01-03    184.669998
2018-01-04    184.330002
2018-01-05    186.850006
2018-01-08    188.279999
                 ...
2018-12-21    124.949997
2018-12-24    124.059998
2018-12-26    134.179993
2018-12-27    134.520004
2018-12-28    133.199997
Name: Close, Length: 250, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [26]:
print(fb['2018-8']) #Obtenemos los datos para un mes especifico, en este caso agosto

Date
2018-08-01    171.649994
2018-08-02    176.369995
2018-08-03    177.779999
2018-08-06    185.690002
2018-08-07    183.809998
2018-08-08    185.179993
2018-08-09    183.089996
2018-08-10    180.259995
2018-08-13    180.050003
2018-08-14    181.110001
2018-08-15    179.529999
2018-08-16    174.699997
2018-08-17    173.800003
2018-08-20    172.500000
2018-08-21    172.619995
2018-08-22    173.639999
2018-08-23    172.899994
2018-08-24    174.649994
2018-08-27    177.460007
2018-08-28    176.259995
2018-08-29    175.899994
2018-08-30    177.639999
2018-08-31    175.729996
Name: Close, dtype: float64

In [27]:
fb['2018-1':'2018-3']  #Tambien podemos obtener los datos para un rango entre dos fechas

Date
2018-01-02    181.419998
2018-01-03    184.669998
2018-01-04    184.330002
2018-01-05    186.850006
2018-01-08    188.279999
                 ...
2018-03-23    159.389999
2018-03-26    160.059998
2018-03-27    152.220001
2018-03-28    153.029999
2018-03-29    159.789993
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [28]:
print(fb.head(8)) #Con head obtenemos los primeros elementos de la lista, en este caso 8 elementos, siendo los precios mas altos de toda la lista
print(fb.tail(8)) #Con tail obtenemos los ultimos elementos de la lista, en este caso 8 elementos, siendo los precios mas bajos de toda la lista

Date
2018-01-02    181.419998
2018-01-03    184.669998
2018-01-04    184.330002
2018-01-05    186.850006
2018-01-08    188.279999
2018-01-09    187.869995
2018-01-10    187.839996
2018-01-11    187.770004
Name: Close, dtype: float64
Date
2018-12-18    143.660004
2018-12-19    133.240005
2018-12-20    133.399994
2018-12-21    124.949997
2018-12-24    124.059998
2018-12-26    134.179993
2018-12-27    134.520004
2018-12-28    133.199997
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [35]:
by_month = fb.resample('2M').mean() #Agrupamos los datos de 2018 en intervalos de 2 meses, y a cada intervalo se obtiene la media del precio.
print(by_month)

Date
2018-01-31    184.962856
2018-03-31    176.709999
2018-05-31    173.592558
2018-07-31    197.617381
2018-09-30    171.559284
2018-11-30    148.197045
2019-01-31    137.498333
Freq: 2M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [40]:
by_week = fb.resample('3W').mean() #Tambien podemos agrupar los datos por semanas, en este caso datos de cada 3 semanas
print(by_week.head())              #Con head obtenemos las 5 medias mas grandes de ese grupo de datos en periodos de 3 semanas
print(by_week.tail())              #Con tail obtenemos las 5 medias mas pequeñas de ese grupo de datos en periodos de 3 semanas

Date
2018-01-07    184.317501
2018-01-28    184.782857
2018-02-18    181.613332
2018-03-11    180.352142
2018-04-01    169.947141
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2018-10-07    162.922667
2018-10-28    153.722666
2018-11-18    146.432667
2018-12-09    136.463845
2018-12-30    137.064285
Freq: 3W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [45]:
fb.resample('M').min() #Con min obtenemos el dato mas pequeño de cada mes(puede ser semanas,3 meses, etc)

Date
2018-01-31    177.600006
2018-02-28    171.580002
2018-03-31    152.220001
2018-04-30    155.100006
2018-05-31    173.860001
2018-06-30    188.179993
2018-07-31    171.059998
2018-08-31    171.649994
2018-09-30    160.300003
2018-10-31    142.089996
2018-11-30    131.550003
2018-12-31    124.059998
Freq: M, Name: Close, dtype: float64

In [44]:
fb.resample('M').max() #Con max obtenemos el dato mas grande de cada mes

Date
2018-01-31    190.000000
2018-02-28    193.089996
2018-03-31    185.229996
2018-04-30    174.160004
2018-05-31    191.779999
2018-06-30    202.000000
2018-07-31    217.500000
2018-08-31    185.690002
2018-09-30    171.160004
2018-10-31    162.440002
2018-11-30    151.750000
2018-12-31    145.009995
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [46]:
#Como se ha venido haciendo en los ejemplos se puede añadir un numero a la frecuencia para agrupar datos en formas mas variadas de tiempos, por ejemplo:
five_day = fb.resample('5D').mean()     
three_week = fb.resample('3W').mean()
four_month = fb.resample('4M').mean()


print(five_day)
print(three_week)
print(four_month )

Date
2018-01-02    184.317501
2018-01-07    187.939999
2018-01-12    178.879997
2018-01-17    179.563334
2018-01-22    187.750000
                 ...
2018-12-08    142.810003
2018-12-13    143.086665
2018-12-18    133.812500
2018-12-23    130.919998
2018-12-28    133.199997
Freq: 5D, Name: Close, Length: 73, dtype: float64
Date
2018-01-07    184.317501
2018-01-28    184.782857
2018-02-18    181.613332
2018-03-11    180.352142
2018-04-01    169.947141
2018-04-22    162.336667
2018-05-13    174.506668
2018-06-03    186.129999
2018-06-24    194.992667
2018-07-15    199.897857
2018-08-05    193.885332
2018-08-26    178.235331
2018-09-16    168.764284
2018-10-07    162.922667
2018-10-28    153.722666
2018-11-18    146.432667
2018-12-09    136.463845
2018-12-30    137.064285
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2018-01-31    184.962856
2018-05-31    175.094939
2018-09-30    184.588333
2019-01-31    145.090967
Freq: 4M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [48]:
std = fb.resample('3W').std()  #Desviacion estandar de cada 3 semanas
max = fb.resample('3W').max()  #Mayor de cada 3 semanas
min = fb.resample('3W').min()  #Menor de cada 3 semanas


print(std)
print(max)
print(min)

Date
2018-01-07     2.231107
2018-01-28     4.451785
2018-02-18     6.294937
2018-03-11     3.214919
2018-04-01    12.204369
2018-04-22     4.896271
2018-05-13     8.036710
2018-06-03     3.235404
2018-06-24     4.513405
2018-07-15     4.751800
2018-08-05    19.129059
2018-08-26     4.890308
2018-09-16     6.569172
2018-10-07     3.239932
2018-10-28     4.081132
2018-11-18     4.141280
2018-12-09     3.219194
2018-12-30     7.029297
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2018-01-07    186.850006
2018-01-28    190.000000
2018-02-18    193.089996
2018-03-11    185.229996
2018-04-01    185.089996
2018-04-22    168.660004
2018-05-13    186.990005
2018-06-03    193.990005
2018-06-24    202.000000
2018-07-15    207.320007
2018-08-05    217.500000
2018-08-26    185.690002
2018-09-16    177.639999
2018-10-07    168.839996
2018-10-28    159.419998
2018-11-18    151.789993
2018-12-09    141.089996
2018-12-30    145.009995
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2018-01-07    181.419998
2018-01-28    177.600006
2018-02-18    171.580002
2018-03-11    175.940002
2018-04-01    152.220001
2018-04-22    155.100006
2018-05-13    159.690002
2018-06-03    182.679993
2018-06-24    188.179993
2018-07-15    192.729996
2018-08-05    171.059998
2018-08-26    172.500000
2018-09-16    161.360001
2018-10-07    157.330002
2018-10-28    145.369995
2018-11-18    139.529999
2018-12-09    131.550003
2018-12-30    124.059998
Freq: 3W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [55]:
last_day = fb.resample('M').agg(lambda x: x[-1]) #Para obtener el precio del ultimo dia de cada mes
print(last_day)

Date
2018-01-31    186.889999
2018-02-28    178.320007
2018-03-31    159.789993
2018-04-30    172.000000
2018-05-31    191.779999
2018-06-30    194.320007
2018-07-31    172.580002
2018-08-31    175.729996
2018-09-30    164.460007
2018-10-31    151.789993
2018-11-30    140.610001
2018-12-31    133.199997
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [58]:
monthly_return = fb.resample('M').agg(lambda x: x[-1]/x[0] - 1)  #Tambien se pueden obtener las tasas mensuales  
print(monthly_return)

Date
2018-01-31    0.030151
2018-02-28   -0.076493
2018-03-31   -0.091793
2018-04-30    0.106892
2018-05-31    0.103071
2018-06-30    0.001701
2018-07-31   -0.125557
2018-08-31    0.023769
2018-09-30   -0.039145
2018-10-31   -0.065563
2018-11-30   -0.073410
2018-12-31   -0.055922
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [59]:
#Con funciones podemos obtener estadisticas de esos datos para los 12 meses
print(monthly_return.mean()) #Media 
print(monthly_return.std())  #Desviacion 
print(monthly_return.max())  #Numero max
print(monthly_return.min())  #Numero min

-0.021858076165144385
0.07518589841360258
0.10689233976184731
-0.1255573505404477

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [61]:
print(last_day.diff())      # .diff Calcula la diferencia entre dos datos consecutivos
print(last_day.pct_change())# .pct_change Calcula el porcentaje de cambio
W_max = fb.resample('3W').max() #Por ejemplo para la lista de datos maximos de cada 3 semanas obtenemos el diff
print(W_max.diff())

Date
2018-01-31          NaN
2018-02-28    -8.569992
2018-03-31   -18.530014
2018-04-30    12.210007
2018-05-31    19.779999
2018-06-30     2.540009
2018-07-31   -21.740005
2018-08-31     3.149994
2018-09-30   -11.269989
2018-10-31   -12.670013
2018-11-30   -11.179993
2018-12-31    -7.410004
Freq: M, Name: Close, dtype: float64
Date
2018-01-31         NaN
2018-02-28   -0.045856
2018-03-31   -0.103914
2018-04-30    0.076413
2018-05-31    0.115000
2018-06-30    0.013244
2018-07-31   -0.111877
2018-08-31    0.018252
2018-09-30   -0.064132
2018-10-31   -0.077040
2018-11-30   -0.073654
2018-12-31   -0.052699
Freq: M, Name: Close, dtype: float64
Date
2018-01-07          NaN
2018-01-28     3.149994
2018-02-18     3.089996
2018-03-11    -7.860001
2018-04-01    -0.139999
2018-04-22   -16.429993
2018-05-13    18.330002
2018-06-03     7.000000
2018-06-24     8.009995
2018-07-15     5.320007
2018-08-05    10.179993
2018-08-26   -31.809998
2018-09-16    -8.050003
2018-10-07    -8.800003
2018-10-28    -9.419998
2018-11-18    -7.630005
2018-12-09   -10.699997
2018-12-30     3.919998
Freq: 3W-SUN, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [65]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))         #Rellenamos datos en NaN con algun valor, por ejemplo 0
last_day_diff = last_day.diff() 
print(last_day_diff.fillna(1))        #Rellenamos datos en NaN con algun valor, por ejemplo 1

Date
2018-01-31    0.000000
2018-02-28   -0.045856
2018-03-31   -0.103914
2018-04-30    0.076413
2018-05-31    0.115000
2018-06-30    0.013244
2018-07-31   -0.111877
2018-08-31    0.018252
2018-09-30   -0.064132
2018-10-31   -0.077040
2018-11-30   -0.073654
2018-12-31   -0.052699
Freq: M, Name: Close, dtype: float64
Date
2018-01-31     1.000000
2018-02-28    -8.569992
2018-03-31   -18.530014
2018-04-30    12.210007
2018-05-31    19.779999
2018-06-30     2.540009
2018-07-31   -21.740005
2018-08-31     3.149994
2018-09-30   -11.269989
2018-10-31   -12.670013
2018-11-30   -11.179993
2018-12-31    -7.410004
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [66]:
#Tambien se puede rellenar el dato en NaN con el siguiente dato que aparezca
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

last_day_diff = last_day.diff() 
print(last_day_diff.fillna(method = 'bfill'))

Date
2018-01-31   -0.045856
2018-02-28   -0.045856
2018-03-31   -0.103914
2018-04-30    0.076413
2018-05-31    0.115000
2018-06-30    0.013244
2018-07-31   -0.111877
2018-08-31    0.018252
2018-09-30   -0.064132
2018-10-31   -0.077040
2018-11-30   -0.073654
2018-12-31   -0.052699
Freq: M, Name: Close, dtype: float64
Date
2018-01-31    -8.569992
2018-02-28    -8.569992
2018-03-31   -18.530014
2018-04-30    12.210007
2018-05-31    19.779999
2018-06-30     2.540009
2018-07-31   -21.740005
2018-08-31     3.149994
2018-09-30   -11.269989
2018-10-31   -12.670013
2018-11-30   -11.179993
2018-12-31    -7.410004
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [68]:
#Se puede eliminar los datos NaN
daily_return = last_day.pct_change()
print(daily_return.dropna())
last_day_diff = last_day.diff() 
last_day_diff.dropna()

Date
2018-02-28   -0.045856
2018-03-31   -0.103914
2018-04-30    0.076413
2018-05-31    0.115000
2018-06-30    0.013244
2018-07-31   -0.111877
2018-08-31    0.018252
2018-09-30   -0.064132
2018-10-31   -0.077040
2018-11-30   -0.073654
2018-12-31   -0.052699
Freq: M, Name: Close, dtype: float64

Date
2018-02-28    -8.569992
2018-03-31   -18.530014
2018-04-30    12.210007
2018-05-31    19.779999
2018-06-30     2.540009
2018-07-31   -21.740005
2018-08-31     3.149994
2018-09-30   -11.269989
2018-10-31   -12.670013
2018-11-30   -11.179993
2018-12-31    -7.410004
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [72]:
import pandas as pd
#Creamos un diccionario
dict = {'F': [158.5, 156.09, 154.73, 156.18, 155.77],'FB':[911.7, 924.71, 919.69, 931.59, 939.99],
        'AAPL':[170.58, 168.67, 167.36, 167.94, 168.49]}
#Creamos un indice por fechas
data_index = pd.date_range('2018-06-01',periods = 5, freq = 'M')
#Creamos un dataframe con el diccionario, e indexado por fechas
df = pd.DataFrame(dict, index = data_index)
print(df)

                 F      FB    AAPL
2018-06-30  158.50  911.70  170.58
2018-07-31  156.09  924.71  168.67
2018-08-31  154.73  919.69  167.36
2018-09-30  156.18  931.59  167.94
2018-10-31  155.77  939.99  168.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [78]:
#Se puede llamar los datos de una columna con el nombre de dicha columna como se ve en algunos ejemplos a continuacion:
df = fb_table
print(df.Close.tail(2))
print(df['Close'].tail(2))
print(df['Volume'].tail(3))
print(df['Open'].head(6))
print(df['Dividends'].head(4))

Date
2018-12-27    134.520004
2018-12-28    133.199997
Name: Close, dtype: float64
Date
2018-12-27    134.520004
2018-12-28    133.199997
Name: Close, dtype: float64
Date
2018-12-26    39723400
2018-12-27    31202500
2018-12-28    22627600
Name: Volume, dtype: int64
Date
2017-01-03    116.029999
2017-01-04    117.550003
2017-01-05    118.860001
2017-01-06    120.980003
2017-01-09    123.550003
2017-01-10    124.820000
Name: Open, dtype: float64
Date
2017-01-03    0
2017-01-04    0
2017-01-05    0
2017-01-06    0
Name: Dividends, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [82]:
fb_2017 = df['2017']
fb_month = fb_2017.resample('M').agg(lambda x: x[-1]) #Dato mas alto de cada columna, cada mes
print(fb_month)

                  Open        High         Low       Close    Volume  \
Date
2017-01-31  130.169998  130.660004  129.520004  130.320007  19790500
2017-02-28  136.789993  136.809998  134.750000  135.539993  16112100
2017-03-31  142.309998  142.630005  141.889999  142.050003  11478300
2017-04-30  149.500000  151.529999  149.070007  150.250000  30652200
2017-05-31  152.699997  153.350006  151.089996  151.460007  18023900
2017-06-30  151.899994  151.919998  150.059998  150.979996  17666000
2017-07-31  172.000000  172.720001  168.550003  169.250000  25478900
2017-08-31  170.399994  172.149994  170.059998  171.970001  17226500
2017-09-30  168.830002  171.660004  168.809998  170.869995  15340400
2017-10-31  180.570007  180.800003  178.940002  180.059998  20174200
2017-11-30  176.850006  178.279999  175.199997  177.179993  25307600
2017-12-31  178.000000  178.850006  176.460007  176.460007  10261500

            Dividends  Stock Splits
Date
2017-01-31          0             0
2017-02-28          0             0
2017-03-31          0             0
2017-04-30          0             0
2017-05-31          0             0
2017-06-30          0             0
2017-07-31          0             0
2017-08-31          0             0
2017-09-30          0             0
2017-10-31          0             0
2017-11-30          0             0
2017-12-31          0             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [92]:
fb_bar = fb_month[['High', 'Low', 'Volume','Close']] #Podemos escoger ciertas columnas del dataframe por el nombre
print(fb_bar)

                  High         Low    Volume       Close
Date
2017-01-31  130.660004  129.520004  19790500  130.320007
2017-02-28  136.809998  134.750000  16112100  135.539993
2017-03-31  142.630005  141.889999  11478300  142.050003
2017-04-30  151.529999  149.070007  30652200  150.250000
2017-05-31  153.350006  151.089996  18023900  151.460007
2017-06-30  151.919998  150.059998  17666000  150.979996
2017-07-31  172.720001  168.550003  25478900  169.250000
2017-08-31  172.149994  170.059998  17226500  171.970001
2017-09-30  171.660004  168.809998  15340400  170.869995
2017-10-31  180.800003  178.940002  20174200  180.059998
2017-11-30  178.279999  175.199997  25307600  177.179993
2017-12-31  178.850006  176.460007  10261500  176.460007

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [85]:
#Podemos seleccionar tanto filas como columnas segun las condiciones que queramos
print(fb_month.loc['2017-08':'2017-12',['High', 'Low', 'Volume','Dividends']]) #Por ejemplo en un rango de tiempo, que columnas queremos ver

                  High         Low    Volume  Dividends
Date
2017-08-31  172.149994  170.059998  17226500          0
2017-09-30  171.660004  168.809998  15340400          0
2017-10-31  180.800003  178.940002  20174200          0
2017-11-30  178.279999  175.199997  25307600          0
2017-12-31  178.850006  176.460007  10261500          0

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [93]:
import numpy as np
#Podemos hacer busquedas mas avanzadas en la tabla de datos, por ejemplo los datos donde High sea mayor a la media de High
above = fb_bar[fb_bar.High > np.mean(fb_bar.High)]
print(above)

                  High         Low    Volume       Close
Date
2017-07-31  172.720001  168.550003  25478900  169.250000
2017-08-31  172.149994  170.059998  17226500  171.970001
2017-09-30  171.660004  168.809998  15340400  170.869995
2017-10-31  180.800003  178.940002  20174200  180.059998
2017-11-30  178.279999  175.199997  25307600  177.179993
2017-12-31  178.850006  176.460007  10261500  176.460007

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [95]:
#Podemos añadir nuevas columnas a un dataframe existente 
fb_bar['rate_return'] = fb_bar.Close.pct_change()
fb_bar['High-Low'] =fb_bar.High - fb_bar.Low
print(fb_bar)

                  High         Low    Volume       Close  rate_return  \
Date
2017-01-31  130.660004  129.520004  19790500  130.320007          NaN
2017-02-28  136.809998  134.750000  16112100  135.539993     0.040055
2017-03-31  142.630005  141.889999  11478300  142.050003     0.048030
2017-04-30  151.529999  149.070007  30652200  150.250000     0.057726
2017-05-31  153.350006  151.089996  18023900  151.460007     0.008053
2017-06-30  151.919998  150.059998  17666000  150.979996    -0.003169
2017-07-31  172.720001  168.550003  25478900  169.250000     0.121009
2017-08-31  172.149994  170.059998  17226500  171.970001     0.016071
2017-09-30  171.660004  168.809998  15340400  170.869995    -0.006396
2017-10-31  180.800003  178.940002  20174200  180.059998     0.053784
2017-11-30  178.279999  175.199997  25307600  177.179993    -0.015995
2017-12-31  178.850006  176.460007  10261500  176.460007    -0.004064

            High-Low
Date
2017-01-31  1.139999
2017-02-28  2.059998
2017-03-31  0.740005
2017-04-30  2.459991
2017-05-31  2.260010
2017-06-30  1.860001
2017-07-31  4.169998
2017-08-31  2.089996
2017-09-30  2.850006
2017-10-31  1.860001
2017-11-30  3.080002
2017-12-31  2.389999

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [96]:
#Para encontrar valores no naturales como Nan, se usa .isnull que facilita la tarea de buscarlos
missing = fb_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             High    Low  Volume  Close  rate_return  High-Low
Date
2017-01-31  False  False   False  False         True     False
2017-02-28  False  False   False  False        False     False
2017-03-31  False  False   False  False        False     False
2017-04-30  False  False   False  False        False     False
2017-05-31  False  False   False  False        False     False
2017-06-30  False  False   False  False        False     False
2017-07-31  False  False   False  False        False     False
2017-08-31  False  False   False  False        False     False
2017-09-30  False  False   False  False        False     False
2017-10-31  False  False   False  False        False     False
2017-11-30  False  False   False  False        False     False
2017-12-31  False  False   False  False        False     False
---------------------------------------------
         High    Low Volume  Close rate_return High-Low
count      12     12     12     12          12       12
unique      1      1      1      1           2        1
top     False  False  False  False       False    False
freq       12     12     12     12          11       12

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [97]:
#Para hallar el valor extraño en la tabla se puede ejecutar:
print(missing[missing.rate_return == True])

             High    Low  Volume  Close  rate_return  High-Low
Date
2017-01-31  False  False   False  False         True     False

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [99]:
#Eliminamos la fila con el valor NaN
drop = fb_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
#Reemplazamos el valor de NaN con 0
fill = fb_bar.fillna(0)
print(fill)

                  High         Low    Volume       Close  rate_return  \
Date
2017-02-28  136.809998  134.750000  16112100  135.539993     0.040055
2017-03-31  142.630005  141.889999  11478300  142.050003     0.048030
2017-04-30  151.529999  149.070007  30652200  150.250000     0.057726
2017-05-31  153.350006  151.089996  18023900  151.460007     0.008053
2017-06-30  151.919998  150.059998  17666000  150.979996    -0.003169
2017-07-31  172.720001  168.550003  25478900  169.250000     0.121009
2017-08-31  172.149994  170.059998  17226500  171.970001     0.016071
2017-09-30  171.660004  168.809998  15340400  170.869995    -0.006396
2017-10-31  180.800003  178.940002  20174200  180.059998     0.053784
2017-11-30  178.279999  175.199997  25307600  177.179993    -0.015995
2017-12-31  178.850006  176.460007  10261500  176.460007    -0.004064

            High-Low
Date
2017-02-28  2.059998
2017-03-31  0.740005
2017-04-30  2.459991
2017-05-31  2.260010
2017-06-30  1.860001
2017-07-31  4.169998
2017-08-31  2.089996
2017-09-30  2.850006
2017-10-31  1.860001
2017-11-30  3.080002
2017-12-31  2.389999

--------------------------------------------------

                  High         Low    Volume       Close  rate_return  \
Date
2017-01-31  130.660004  129.520004  19790500  130.320007     0.000000
2017-02-28  136.809998  134.750000  16112100  135.539993     0.040055
2017-03-31  142.630005  141.889999  11478300  142.050003     0.048030
2017-04-30  151.529999  149.070007  30652200  150.250000     0.057726
2017-05-31  153.350006  151.089996  18023900  151.460007     0.008053
2017-06-30  151.919998  150.059998  17666000  150.979996    -0.003169
2017-07-31  172.720001  168.550003  25478900  169.250000     0.121009
2017-08-31  172.149994  170.059998  17226500  171.970001     0.016071
2017-09-30  171.660004  168.809998  15340400  170.869995    -0.006396
2017-10-31  180.800003  178.940002  20174200  180.059998     0.053784
2017-11-30  178.279999  175.199997  25307600  177.179993    -0.015995
2017-12-31  178.850006  176.460007  10261500  176.460007    -0.004064

            High-Low
Date
2017-01-31  1.139999
2017-02-28  2.059998
2017-03-31  0.740005
2017-04-30  2.459991
2017-05-31  2.260010
2017-06-30  1.860001
2017-07-31  4.169998
2017-08-31  2.089996
2017-09-30  2.850006
2017-10-31  1.860001
2017-11-30  3.080002
2017-12-31  2.389999

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [106]:
#Podemos concatenar dos series, por ejemplo el precio de manzanas y peras en 5 tiendas x
s1 = pd.Series([1500, 2300, 3400, 4500, 1900], name = 'Manzanas')
s2 = pd.Series([2100, 3200, 4000, 1700, 2800], name = 'Peras')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

   Manzanas  Peras
0      1500   2100
1      2300   3200
2      3400   4000
3      4500   1700
4      1900   2800

The "axis = 1" parameter will join two DataFrames by columns:

In [100]:
#Con axis = 1 se concatenan dos dataframes por la columna
log_price = np.log(fb_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([fb_bar, log_price], axis = 1)
print(concat)

Date
2017-01-31    4.869993
2017-02-28    4.909267
2017-03-31    4.956179
2017-04-30    5.012301
2017-05-31    5.020322
2017-06-30    5.017147
2017-07-31    5.131377
2017-08-31    5.147320
2017-09-30    5.140903
2017-10-31    5.193290
2017-11-30    5.177166
2017-12-31    5.173094
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  High         Low    Volume       Close  rate_return  \
Date
2017-01-31  130.660004  129.520004  19790500  130.320007          NaN
2017-02-28  136.809998  134.750000  16112100  135.539993     0.040055
2017-03-31  142.630005  141.889999  11478300  142.050003     0.048030
2017-04-30  151.529999  149.070007  30652200  150.250000     0.057726
2017-05-31  153.350006  151.089996  18023900  151.460007     0.008053
2017-06-30  151.919998  150.059998  17666000  150.979996    -0.003169
2017-07-31  172.720001  168.550003  25478900  169.250000     0.121009
2017-08-31  172.149994  170.059998  17226500  171.970001     0.016071
2017-09-30  171.660004  168.809998  15340400  170.869995    -0.006396
2017-10-31  180.800003  178.940002  20174200  180.059998     0.053784
2017-11-30  178.279999  175.199997  25307600  177.179993    -0.015995
2017-12-31  178.850006  176.460007  10261500  176.460007    -0.004064

            High-Low  log_price
Date
2017-01-31  1.139999   4.869993
2017-02-28  2.059998   4.909267
2017-03-31  0.740005   4.956179
2017-04-30  2.459991   5.012301
2017-05-31  2.260010   5.020322
2017-06-30  1.860001   5.017147
2017-07-31  4.169998   5.131377
2017-08-31  2.089996   5.147320
2017-09-30  2.850006   5.140903
2017-10-31  1.860001   5.193290
2017-11-30  3.080002   5.177166
2017-12-31  2.389999   5.173094

We can also join two DataFrames by rows. Consider these two DataFrames:

In [108]:
#Dataframe con la informacion de "volume" y "Stock Splits" entre julio de 2017 y enero de 2018 por mes
df_volume = fb_table.loc['2017-07':'2018-01',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
#Dataframe con la informacion de "Open", "High", "low", "Clore" entre julio de 2017 y enero de 2018 por mes
df_2017 = fb_table.loc['2017-07':'2018-01',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

              Volume  Stock Splits
Date
2017-07-31  25478900             0
2017-08-31  17226500             0
2017-09-30  15340400             0
2017-10-31  20174200             0
2017-11-30  25307600             0
2017-12-31  10261500             0
2018-01-31  43275100             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2017-07-31  172.000000  172.720001  168.550003  169.250000
2017-08-31  170.399994  172.149994  170.059998  171.970001
2017-09-30  168.830002  171.660004  168.809998  170.869995
2017-10-31  180.570007  180.800003  178.940002  180.059998
2017-11-30  176.850006  178.279999  175.199997  177.179993
2017-12-31  178.000000  178.850006  176.460007  176.460007
2018-01-31  188.369995  189.830002  185.220001  186.889999

Now we merge the DataFrames with our DataFrame 'fb_bar'

In [109]:
#Concatenamos los dataframes
concat = pd.concat([fb_bar, df_volume], axis = 1)
print(concat)

                  High         Low      Volume       Close  rate_return  \
Date
2017-01-31  130.660004  129.520004  19790500.0  130.320007          NaN
2017-02-28  136.809998  134.750000  16112100.0  135.539993     0.040055
2017-03-31  142.630005  141.889999  11478300.0  142.050003     0.048030
2017-04-30  151.529999  149.070007  30652200.0  150.250000     0.057726
2017-05-31  153.350006  151.089996  18023900.0  151.460007     0.008053
2017-06-30  151.919998  150.059998  17666000.0  150.979996    -0.003169
2017-07-31  172.720001  168.550003  25478900.0  169.250000     0.121009
2017-08-31  172.149994  170.059998  17226500.0  171.970001     0.016071
2017-09-30  171.660004  168.809998  15340400.0  170.869995    -0.006396
2017-10-31  180.800003  178.940002  20174200.0  180.059998     0.053784
2017-11-30  178.279999  175.199997  25307600.0  177.179993    -0.015995
2017-12-31  178.850006  176.460007  10261500.0  176.460007    -0.004064
2018-01-31         NaN         NaN         NaN         NaN          NaN

            High-Low      Volume  Stock Splits
Date
2017-01-31  1.139999         NaN           NaN
2017-02-28  2.059998         NaN           NaN
2017-03-31  0.740005         NaN           NaN
2017-04-30  2.459991         NaN           NaN
2017-05-31  2.260010         NaN           NaN
2017-06-30  1.860001         NaN           NaN
2017-07-31  4.169998  25478900.0           0.0
2017-08-31  2.089996  17226500.0           0.0
2017-09-30  2.850006  15340400.0           0.0
2017-10-31  1.860001  20174200.0           0.0
2017-11-30  3.080002  25307600.0           0.0
2017-12-31  2.389999  10261500.0           0.0
2018-01-31       NaN  43275100.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [110]:
#Podemos concatenar por interseccion
concat = pd.concat([fb_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                  High         Low    Volume       Close  rate_return  \
Date
2017-07-31  172.720001  168.550003  25478900  169.250000     0.121009
2017-08-31  172.149994  170.059998  17226500  171.970001     0.016071
2017-09-30  171.660004  168.809998  15340400  170.869995    -0.006396
2017-10-31  180.800003  178.940002  20174200  180.059998     0.053784
2017-11-30  178.279999  175.199997  25307600  177.179993    -0.015995
2017-12-31  178.850006  176.460007  10261500  176.460007    -0.004064

            High-Low    Volume  Stock Splits
Date
2017-07-31  4.169998  25478900             0
2017-08-31  2.089996  17226500             0
2017-09-30  2.850006  15340400             0
2017-10-31  1.860001  20174200             0
2017-11-30  3.080002  25307600             0
2017-12-31  2.389999  10261500             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [112]:
#Adjuntamos un dataframe a otro
append = fb_bar.append(df_2017)
print(append)

                  High         Low      Volume       Close  rate_return  \
Date
2017-01-31  130.660004  129.520004  19790500.0  130.320007          NaN
2017-02-28  136.809998  134.750000  16112100.0  135.539993     0.040055
2017-03-31  142.630005  141.889999  11478300.0  142.050003     0.048030
2017-04-30  151.529999  149.070007  30652200.0  150.250000     0.057726
2017-05-31  153.350006  151.089996  18023900.0  151.460007     0.008053
2017-06-30  151.919998  150.059998  17666000.0  150.979996    -0.003169
2017-07-31  172.720001  168.550003  25478900.0  169.250000     0.121009
2017-08-31  172.149994  170.059998  17226500.0  171.970001     0.016071
2017-09-30  171.660004  168.809998  15340400.0  170.869995    -0.006396
2017-10-31  180.800003  178.940002  20174200.0  180.059998     0.053784
2017-11-30  178.279999  175.199997  25307600.0  177.179993    -0.015995
2017-12-31  178.850006  176.460007  10261500.0  176.460007    -0.004064
2017-07-31  172.720001  168.550003         NaN  169.250000          NaN
2017-08-31  172.149994  170.059998         NaN  171.970001          NaN
2017-09-30  171.660004  168.809998         NaN  170.869995          NaN
2017-10-31  180.800003  178.940002         NaN  180.059998          NaN
2017-11-30  178.279999  175.199997         NaN  177.179993          NaN
2017-12-31  178.850006  176.460007         NaN  176.460007          NaN
2018-01-31  189.830002  185.220001         NaN  186.889999          NaN

            High-Low        Open
Date
2017-01-31  1.139999         NaN
2017-02-28  2.059998         NaN
2017-03-31  0.740005         NaN
2017-04-30  2.459991         NaN
2017-05-31  2.260010         NaN
2017-06-30  1.860001         NaN
2017-07-31  4.169998         NaN
2017-08-31  2.089996         NaN
2017-09-30  2.850006         NaN
2017-10-31  1.860001         NaN
2017-11-30  3.080002         NaN
2017-12-31  2.389999         NaN
2017-07-31       NaN  172.000000
2017-08-31       NaN  170.399994
2017-09-30       NaN  168.830002
2017-10-31       NaN  180.570007
2017-11-30       NaN  176.850006
2017-12-31       NaN  178.000000
2018-01-31       NaN  188.369995

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [113]:
#Otra forma de adjunta un dataframe a otro
concat = pd.concat([fb_bar, df_2017], axis = 0)
print(concat)

                  High         Low      Volume       Close  rate_return  \
Date
2017-01-31  130.660004  129.520004  19790500.0  130.320007          NaN
2017-02-28  136.809998  134.750000  16112100.0  135.539993     0.040055
2017-03-31  142.630005  141.889999  11478300.0  142.050003     0.048030
2017-04-30  151.529999  149.070007  30652200.0  150.250000     0.057726
2017-05-31  153.350006  151.089996  18023900.0  151.460007     0.008053
2017-06-30  151.919998  150.059998  17666000.0  150.979996    -0.003169
2017-07-31  172.720001  168.550003  25478900.0  169.250000     0.121009
2017-08-31  172.149994  170.059998  17226500.0  171.970001     0.016071
2017-09-30  171.660004  168.809998  15340400.0  170.869995    -0.006396
2017-10-31  180.800003  178.940002  20174200.0  180.059998     0.053784
2017-11-30  178.279999  175.199997  25307600.0  177.179993    -0.015995
2017-12-31  178.850006  176.460007  10261500.0  176.460007    -0.004064
2017-07-31  172.720001  168.550003         NaN  169.250000          NaN
2017-08-31  172.149994  170.059998         NaN  171.970001          NaN
2017-09-30  171.660004  168.809998         NaN  170.869995          NaN
2017-10-31  180.800003  178.940002         NaN  180.059998          NaN
2017-11-30  178.279999  175.199997         NaN  177.179993          NaN
2017-12-31  178.850006  176.460007         NaN  176.460007          NaN
2018-01-31  189.830002  185.220001         NaN  186.889999          NaN

            High-Low        Open
Date
2017-01-31  1.139999         NaN
2017-02-28  2.059998         NaN
2017-03-31  0.740005         NaN
2017-04-30  2.459991         NaN
2017-05-31  2.260010         NaN
2017-06-30  1.860001         NaN
2017-07-31  4.169998         NaN
2017-08-31  2.089996         NaN
2017-09-30  2.850006         NaN
2017-10-31  1.860001         NaN
2017-11-30  3.080002         NaN
2017-12-31  2.389999         NaN
2017-07-31       NaN  172.000000
2017-08-31       NaN  170.399994
2017-09-30       NaN  168.830002
2017-10-31       NaN  180.570007
2017-11-30       NaN  176.850006
2017-12-31       NaN  178.000000
2018-01-31       NaN  188.369995

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [116]:
#Cambiambos el nombre de la columna High en df_2017, esto crea una nueva columna al combinar los dataframes
df_2017.columns = ['Open', 'Change','Low','Close']
concat = pd.concat([fb_bar, df_2017], axis = 0)
print(concat)

                  High         Low      Volume       Close  rate_return  \
Date
2017-01-31  130.660004  129.520004  19790500.0  130.320007          NaN
2017-02-28  136.809998  134.750000  16112100.0  135.539993     0.040055
2017-03-31  142.630005  141.889999  11478300.0  142.050003     0.048030
2017-04-30  151.529999  149.070007  30652200.0  150.250000     0.057726
2017-05-31  153.350006  151.089996  18023900.0  151.460007     0.008053
2017-06-30  151.919998  150.059998  17666000.0  150.979996    -0.003169
2017-07-31  172.720001  168.550003  25478900.0  169.250000     0.121009
2017-08-31  172.149994  170.059998  17226500.0  171.970001     0.016071
2017-09-30  171.660004  168.809998  15340400.0  170.869995    -0.006396
2017-10-31  180.800003  178.940002  20174200.0  180.059998     0.053784
2017-11-30  178.279999  175.199997  25307600.0  177.179993    -0.015995
2017-12-31  178.850006  176.460007  10261500.0  176.460007    -0.004064
2017-07-31         NaN  168.550003         NaN  169.250000          NaN
2017-08-31         NaN  170.059998         NaN  171.970001          NaN
2017-09-30         NaN  168.809998         NaN  170.869995          NaN
2017-10-31         NaN  178.940002         NaN  180.059998          NaN
2017-11-30         NaN  175.199997         NaN  177.179993          NaN
2017-12-31         NaN  176.460007         NaN  176.460007          NaN
2018-01-31         NaN  185.220001         NaN  186.889999          NaN

            High-Low        Open      Change
Date
2017-01-31  1.139999         NaN         NaN
2017-02-28  2.059998         NaN         NaN
2017-03-31  0.740005         NaN         NaN
2017-04-30  2.459991         NaN         NaN
2017-05-31  2.260010         NaN         NaN
2017-06-30  1.860001         NaN         NaN
2017-07-31  4.169998         NaN         NaN
2017-08-31  2.089996         NaN         NaN
2017-09-30  2.850006         NaN         NaN
2017-10-31  1.860001         NaN         NaN
2017-11-30  3.080002         NaN         NaN
2017-12-31  2.389999         NaN         NaN
2017-07-31       NaN  172.000000  172.720001
2017-08-31       NaN  170.399994  172.149994
2017-09-30       NaN  168.830002  171.660004
2017-10-31       NaN  180.570007  180.800003
2017-11-30       NaN  176.850006  178.279999
2017-12-31       NaN  178.000000  178.850006
2018-01-31       NaN  188.369995  189.830002

Since the column name of 'High' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.